
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
}


html, body {
margin:0;
padding:0;
}
html {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: black;
}


body {
	background-color: #E5E5E5;
	

}


.wrapper {
	margin: 0 auto;
	width: 650px;
	display: flex;
	margin-top: 30px;
	border-bottom: 1px solid #1C1C1C;
}

@media screen and (max-width: 650px) {
  .wrapper {
		flex-wrap: wrap;
	}
}



.aside__left{
	width: 420px;
	border-right: 1px solid #1C1C1C;
	padding-left: 25px;
	padding-right: 25px;
}

.aside__right {
	width: 230px;
	padding-left: 25px;
	padding-right: 25px;
}


header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	border-bottom: 1px solid #1C1C1C;
}

.header__title {
	display: flex;
	flex-direction: column;
}

.header__title__name {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 32px;
	line-height: 39px;
}

.header__title__prof{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 200;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.14em;
}


.header__avatar {
	width: 72px;
	height: 72px;
	border-radius: 50%;
	overflow: hidden;
}

.header__avatar img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.experience {
	padding-top: 10px;
	width: 100%;
}
.experience__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 200;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.15em;
	margin-bottom: 30px;
}

.experience__block {
	margin-bottom: 30px;
}

.experience__block__title, .experience__block__prof {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.14em;
	margin-bottom: 10px;
}

.experience__block__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 200;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.14em;
	margin-bottom: 5px;
}

.block__contact {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.contact__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 200;
	font-size: 14px;
	line-height: 12px;
	text-align: center;
	letter-spacing: 0.14em;
	margin-bottom: 20px;
}

.aside__links li a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 200;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.14em;
	color: #1C1C1C;
	text-decoration: none;
}

.aside__links li a:hover {
	text-decoration: underline;
}

.aside__links li {
	margin-bottom: 2px;
}

footer {
	margin: 0 auto;
	width: 650px;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.footer__logo {
	width: 200px;
	height: 100px;
	overflow: hidden;
}

.footer__logo img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.footer__links {
	text-align: center;
	margin: auto 0;
}

.footer__links__li {
	display: flex;
	justify-content: flex-end;
}


.footer__links__li li a{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 200;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.14em;
	color: #1C1C1C;
	text-decoration: none;
}
.footer__links__li li {
	margin-left: 15px;
}
.footer__links__li li a:hover{
	text-decoration: underline;
}
